.contentContainer {
  flex-grow: 1;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.titleContainer {
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid var(--secondary-color);
}

.title {
  font-size: 6rem;
}

.highlightedText {
  color: var(--primary-color);
}

.userContainer {
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.input {
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  background-color: transparent;

  &:active,
  &:focus {
    border-color: var(--dark-color);
  }

  &:focus-visible {
    outline: none;
  }
}
