.list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-auto-rows: 25rem;
  gap: 3rem;
  align-items: stretch;
}

.empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyText {
  margin-bottom: 10rem;
}
