.list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyText {
  margin-bottom: 10rem;
}
