.contentContainer {
  flex-grow: 1;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  margin-bottom: 1rem;
  display: flex;
}

.textContainer {
  flex-grow: 1;
  display: flex;
}

.input {
  flex-grow: 1;
}
