@import '../../../shared/styles/mixins.scss';

.background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 243, 244, 0.5);
  backdrop-filter: blur(3px);
}

.sidebar {
  position: absolute;
  left: 0;
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--dark-color);
  background-color: var(--light-color);
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 1rem 3rem;
  background-color: transparent;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid var(--dark-color);
  }
}

.activeItem {
  background-color: var(--primary-light);
}

.itemContent {
  font-size: 1.5rem;
}

.activeItemContent {
  padding-left: 1rem;
}
