.userCard {
  display: flex;
  flex-direction: column;
}

.infoContainer {
  margin-bottom: 3rem;
}

.welcomeText {
  font-size: 2rem;
}

.name {
  margin-bottom: 0.5rem;
  font-size: 4rem;
}

.stats {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.buttonContainer {
  display: flex;
}

.button {
  width: 10rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }
}
