.form {
  display: flex;
  align-items: stretch;
  border: 0.15rem solid var(--dark-color);
  border-radius: 0.2rem;
  background-color: transparent;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    background-color: var(--primary-light);
  }
}

.input {
  padding: 1rem;
  font-size: 1.1rem;
}
