$min-tablet-width: 480px;
$min-desktop-width: 1000px;
$min-large-desktop-width: 1440px;

@mixin tablet {
  @media screen and (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $min-desktop-width) {
    @content;
  }
}

@mixin largeDesktop {
  @media screen and (min-width: $min-large-desktop-width) {
    @content;
  }
}
