@import '../shared/styles/variables.scss';
@import '../shared/styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 3vw;

  @include tablet {
    font-size: 2vw;
  }

  @include desktop {
    font-size: 1vw;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
