.card {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 0.15rem solid var(--dark-color);
  border-radius: 0.2rem;
  background-color: transparent;
  box-shadow: 0 0 1rem var(--dark-color);
  transition: all ease 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-light);
  }
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text {
  flex: 1 1;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.placeholder {
  color: var(--secondary-light);
}
